html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4 {
    margin: 0;
}

p {
    margin: 0;
}

button {
    cursor: pointer;
}

.outlet {
    margin-top: 50px;
}   

.wrapper {
    max-width: 600px;
    margin: 0 auto;
}